<p id="notice"><%= notice %></p>

<h1>選手一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.position' %></th>
      <th><%= t '.no' %></th>
      <th><%= t '.born' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.no %></td>
        <td><%= player.born %></td>
        <td><%= link_to '詳細', player %></td>
        <td><%= link_to '編集', edit_player_path(player) %></td>
        <td><%= link_to '削除', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規選手', new_player_path %>
