<h1>選手アップロード</h1>

<%= form_tag(create_upload_players_path, multipart: true) do %>
  <% if @csv_errors.any? %>
    <div id="error_explanation">
      <h2>入力に誤りがあります</h2>

      <ul>
      <% @csv_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "csv_file", "CSVファイル:" %>
    <%= file_field_tag "csv_file" %>
  </div>

  <div class="actions">
    <%= submit_tag "アップロード" %>
  </div>
<% end %>

<%= link_to '戻る', players_path %>
