<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.id' %>:</strong>
  <%= @player.id %>
</p>
<p>
  <strong><%= t '.name' %>:</strong>
  <%= @player.name %>
</p>

<p>
  <strong><%= t '.position' %>:</strong>
  <%= @player.position %>
</p>

<p>
  <strong><%= t '.no' %>:</strong>
  <%= @player.no %>
</p>

<p>
  <strong><%= t '.born' %>:</strong>
  <%= @player.born %>
</p>

<p>
  <strong><%= t '.created_at' %>:</strong>
  <%= @player.created_at %>
</p>

<p>
  <strong><%= t '.updated_at' %>:</strong>
  <%= @player.updated_at %>
</p>

<%= link_to '編集', edit_player_path(@player) %> |
<%= link_to '戻る', players_path %>
